 :root {
  --color-primary-txt:#222; 
  --color-secondary-txt:#444; 
  --color-third-txt:#777; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:"poppins", sans-serif;
  color: var(--color-primary-txt);
  background: #f5f8fb;
}
